@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" );
*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: inherit;
}
html{
box-sizing: border-box;
font-size: 62.5%;
}
body{
font-family: 'Roboto', sans-serif;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
color: #222;
background-color: #fff;
}
a{
text-decoration: none;
color: #222;
}
li{
list-style:none ;
}
img{
width: 100%;
}
.container{
max-width: 114rem;
margin: 0 auto;
padding: 0 3rem;
}
.d-flex{
display: flex;
align-items: center;
}
.header{
position: relative;
overflow-x: hidden;
min-height: 100vh;
z-index: 0;
}
.navigation{
position: relative;
z-index: 2;
height: 6rem;
line-height: 6rem;
}
.nav-center{
justify-content: space-between;
}
.logo{
color: #fff;
}
.nav-center .nav-item:not(:last-child){
margin-right: 0.5rem;
}
.nav-center .nav-link{
font-size: 1.8rem;
color: #fff;
padding: 1rem;
}
.nav-center .nav-link:hover{
color: #6cbe07;
}
.nav-center .container{
display: none;
font-size: 2.3rem;
color: #222;
cursor: pointer;
}
@media only screen and(max-width:768px){
.nav-list{
    position: fixed;
    top: 12%;
    left: -35rem;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    height: 100%;
    width: 0%;
    max-width: 32rem;
    z-index: 100;
    transition: all 300ms ease-in-out;
}
.nav-list.open{
    left: 0;
    width: 100%;
}
.nav-list .nav-item{
    margin: 0 0 1rem 0;
    width: 100%;
}
.nav-list .nav-link{
    font-size: 2rem;
    color: #222;
}
.nav-center .container{
    display: block;
    color: #fff;
    font-size: 3rem;
}
/* .bx-menu-alt-left {
    display: none;
}
:host{
    display: none;
} */
}  
.hero,
.heroslider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
} 
.hero .swiper-wrapper .swiper-slide{
    display: none;
}
.hero .swiper-wrapper .swiper-slide.active{
    display: block;
}
.hero img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    content: "";
}
.swiper-button-next{
    position: absolute;
    right: -100px;
    top: 40%;
}
.swiper-button-prev{
    position: absolute;
    left: -100px;
    top: 40%;
}
.header:hover .swiper-button-next{
    position: absolute;
    right: 40px;
    width: 60px;
}
.header:hover .swiper-button-prev{
    position: absolute;
    left: 40px;
    width: 60px;
}
.swiper-button-next,
.swiper-button-prev{
    background-color: rgba(0,0,0,0.8);
    border-radius: 50%;
    padding: 10px;
    transition: all 500ms ease-in-out;
    width: 60px;
}
.swiper-icon{
    font-size: 5rem;
    color: #fff;
}
.header .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    z-index: 1;
    text-align: center;
}
.header .content h1{
    font-size: 7rem;
    color: #fff;
    margin-bottom: 4rem;
}
.header .search{
    width: 70rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    padding: 1rem 2rem;
}
.header .search input{
    width: 100%;
    padding: 1.5rem 0;
    border: none;
    outline: none;
    margin-right: 1rem;
    font-size: 1.6rem;
    text-indent: 1rem;
}
.header .search a{
    display: inline-block;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #6cbe07;
    padding: 1.5rem  4rem;
}
@media (max-width:996px) {
    .header .content h1{
        margin-bottom: 3rem;
        font-size: 2rem;
    }
    .header .search{
        width: 100%;
    }
    .header .search input{
        padding: 1rem 0;
        font-size: 1.3rem;
    }
    .header .search a{
        padding: 1rem;
    }
    .header:hover .swiper-button-next{
        right: 5px;
    }
    .header:hover .swiper-button-prev{
        right: 5px;
    }
    .swiper-icon{
        font-size: 3rem;
    }
    .swiper-button-next,
    .swiper-button-prev{
    padding: 0.2rem 2.3rem;
    
   }
}
.section{
    padding: 10rem 0;
}
.section.rent{
    background-color: #f0f4f7;
}
.rent-center{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
    gap: 4rem 2rem;
}
.title{
    text-align: center;
    margin-bottom: 5rem;
    padding: 1rrem;
}
.title h1{
    font-weight: 100;
    margin-bottom: 1rem;
    font-size: 6rem;
}
.rent  .box{
    background-color: #fff;
    transition: all 300ms ease-in-out;
}
.rent .box:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.rent .box .top{
    padding: 1rem;
    position: relative;
    height: 20rem;
    transition: all 300ms ease-in-out;
}
.rent .box:hover .top{
    cursor: pointer;
}
.rent .box .top img{
    object-fit: cover;
    height: 100%;
}
.rent .box .overlay{
    position: absolute;
    width: 100%;
    height: 20rem;
    background-color: #fff;
    padding: 1rem;
    left: 0;
    top: 0;
}
.rent .box .overlay::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
}
.rent .box .top:hover .overlay::after{
    visibility: hidden;
    opacity: 1;
}
.rent .box .pos{
    position: absolute;
    top: 2rem;
    left: 2rem ;
}
.rent .box .pos span{
    display: inline-block;
    padding: 0.3rem;
    margin-right: 0.5rem;
    color: #fff;
    font-size: 1.3rem;
}
.rent .box .pos span:first-child{
    background-color: #43c370;
}
.rent .box .pos span:last-child{
    background-color: #e0203b;
}
.box .bottom-span{
    display: flex;
    justify-content: space-between;
    margin-inline: 10px;
}
.rent .box .bottom{
    font-size: 2rem;
    font-weight: 500;
    color: #555;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    margin-inline: 10px;
}
.rent .box .bottom div{
    display: flex;
    color: #555;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
}
.rent .box .bottom div span{
    font-size: 1.8rem;
}
.rent .box:hover .bottom p{
    color: #006eff;
}
.rent .box .bottom div .fa-eye{
    font-size: 2.5rem;
}
@media (max-width: 768px) {
    .title h1{
        font-size: 4rem;
    }
}
@media (max-width: 567px) {
    .title h1{
        font-size: 3rem;
    }
}  
.wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.box{
    border-radius: 5px;
    overflow: hidden;
}
.box:hover img{
    transform: scale(1.1);
}
.box1{
    grid-column: span 2;
    grid-row: span 1;
}
.box2 {
    grid-column: span 1; 
    grid-row: span 2;
}
.box2 img{
    height: 100%;
    object-fit: cover;
}
.box3{
   grid-column: span 1;
    grid-row: span 1 ;
}
.box4{
    grid-column: span 1;
    grid-row: span 1;
}

@media (max-width:768px) {
    .box1{
        grid-column:1 / span3;
        height: 20rem;
    } 
    .box2{
        grid-column: 3;
        grid-row:2 ;
        height: 20rem;
    }
}
@media (max-width:567px) {
.wrapper .box{
    height: 15rem;
}
}
.contact{
    background: url('./images/pic6.jpg') no-repeat  fixed;
    color: #fff;
    padding: 10rem 20rem;
}
.contact .rows{
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.contact .rows .col h2{
    margin-bottom:1.5rem;
    font-size: 3rem;
}
.contact .rows .col p{
    font-size: 1.8rem;
    width: 70%;
    margin-bottom: 2rem;
}
.btn-1{
    background-color: #6cbe07;
    color: #fff;
    display: inline-block;
    font-size: 1.8rem;
    padding: 1.5rem 5rem;
}
.contact form div{
    position: relative;
    margin: 0 auto;
}
.contact form input{
    font-family: sans-serif;
    text-indent: 2rem;
    font-size: 1.8rem;
    width: 35rem;
    border-radius: 1rem;
    padding: 2rem 0;
    outline: none;
    border: none;
}
.contact form a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #6cbe07;
    color: #fff;
    /* margin: 5rem; */
    padding: 1.7rem 5rem;
    border-radius: 1rem;
}
@media only screen and (max-width:996px) {
    .contact{
        padding: 8rem 8rem;
    }
}
@media only screen and (max-width:768px) {
    .contact .row{
        grid-template-columns: 1fr;
        gap: 5rem 0;
    }
}
@media only screen and (max-width:567px) {
    .contact{
        padding: 8rem 1rem;
    }
}
.footer{
    padding: 7rem 1rem;
    background-color: #303441;
}
.footer .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 99.6rem;
    margin: 0 auto;
    margin-inline: 13rem;
}
.footer .col{
    flex-direction: column;
    color: #fff;
    align-items: flex-start;
}
.footer .col:last-child{
    flex-direction: row;
    justify-content: center;
}

.footer .col:last-child span{
    font-size: 2.5rem;
    margin-right: 5rem;
    color: #fff;
    margin-inline: 2.7px;
}
.footer .col a{
    color: #fff;
    font-size: 1.3rem;
    margin-right: 5rem;
    color: #fff;
    line-height: 2;
}
.footer .col h4{
    margin-bottom: 1rem;
}
@media only screen and (max-width:567px){
    .footer .row{
        grid-template-columns: 1fr;
        row-gap: 3;
    }
}